@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
}

#__next {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dark_blue-linear-bg {
  background: linear-gradient(265.68deg, #5d2d91 0%, #d75227 100%);
}

.orange-linear-bg {
  background: linear-gradient(269.37deg, #e279bd -1.07%, #ffbe00 106.75%);
}